<div id="music">
	<hr> 
	<div class="row">
		<div class="col-sm-3 artist-name">
			Jacob Banks
		</div>
		<div class="col-sm-3 song-title">
			Sink or Swim
		</div>
		<div class="col-sm-5 music-copy">
			I discovered Banks via my Discover Weekly playlist on Spotify. After checking out his catalog, I stumbled upon this song. Sink or Swim is about the uncertainty associated with making decisions. However so, the song challenges you to go with your gut and take a risk by doing what you believe in, regardless of the outcome.
		</div>
		<div class="col-sm-1 music-link">
			<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo"), "https://open.spotify.com/track/0kFV57VAYDJEcbtOK7YmNS", :target => "_blank"%>
		</div>
	</div>
	
	<hr>
	<div class="row">
		<div class="col-sm-3 artist-name">
			dvsn
		</div>
		<div class="col-sm-3 song-title">
			SEPT 5
		</div>
		<div class="col-sm-5 music-copy">
			dvsn is one of the treasures I've found on Soundcloud. I took note of this duo when they had two singles on their account, The Line and With Me, and I've been tuned into them ever since. I'm linking their entire debut album because it is an amazing body of work which is contributing to an R&amp;B sound that we are so very lacking nowadays. Some of my favorite tracks from the album include With Me, Too Deep, Do it Well, Hallucinations, and The Line. 
		</div>
		<div class="col-sm-1 music-link">
			<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo"), "https://open.spotify.com/album/0jLynoED1FbV2Ky7vU6Pjc", :target => "_blank"%>
		</div>
	</div>
	
	<hr> 
	<div class="row">
		<div class="col-sm-3 artist-name">
			Tracy Chapman
		</div>
		<div class="col-sm-3 song-title">
			Crossroads
		</div>
		<div class="col-sm-5 music-copy">
			I grew up on Chapman. Her music always resonated with me, and her being from Cleveland only further gave me reason to love her. This song is on Chapman's 2015 remastered album but is originally recorded on her 1989 Crossroads album. Crossroads details the internal conflict that results from the external pressures that try to control and navigate ones own life. Give it a listen, it's an amazing song.
		</div>
		<div class="col-sm-1 music-link">
			<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo"), "https://open.spotify.com/track/1yFL315SBJnAojZMLDP5YO", :target => "_blank"%>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-3 artist-name">
			Masego &amp; Medasin
		</div>
		<div class="col-sm-3 song-title">
			Girls that Dance
		</div>
		<div class="col-sm-5 music-copy">
			Masego and Medasin are another SoundCloud treasure. Girls that Dance is that inexplicable head-bobbing, groovy track. As if the catchy hook doesn't do enough, Masego kills it on the saxophone and the jazz skatting pushes the song even further. 
		</div>
		<div class="col-sm-1 music-link">
			<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo"), "https://open.spotify.com/track/2tiNfvmwMXjB5h8pKIassM", :target => "_blank"%>
		</div>
	</div>
	
	<hr> 
	<div class="row">
		<div class="col-sm-3 artist-name">
			Ramriddlz
		</div>
		<div class="col-sm-3 song-title">
			Left, Right
		</div>
		<div class="col-sm-5 music-copy">
			Toronto is bubbling with Drake's new Views album. Digging deeper into the music scene in the 6, I found Ramriddlz. Ramriddlz's entire Venis album has a Jamaican feel to it, but I think this feeling is most exemplified in the track--Left, Right. This is a great follow-up song to Girls that Dance since it continues the tempo and theme of dancing. 
		</div>
		<div class="col-sm-1 music-link">
			<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo"), "https://open.spotify.com/track/2Jj3DCqJrJYPIp6bUa0PGD", :target => "_blank"%>
		</div>
	</div>
	<hr> 
</div>