<div class="row">
	<div class="col-sm-1 col-sm-offset-3">
		<%= link_to image_tag("twitter-logo.svg", alt: "Twitter Logo", title: "Twitter", class: "img-responsive", onmouseenter: "change_image_color('twitter-logo')", id: "twitter-logo"), "http://www.twitter.com/sydhodgepodge", :target => "_blank" %>
	</div>

	<div class="col-sm-1">
		<%= link_to image_tag("facebook-logo.svg", alt: "Facebook Logo", title: "Facebook", class: "img-responsive", id: "facebook-logo", onmouseenter: "change_image_color('facebook-logo')"), "http://www.facebook.com/sydneyhodge", :target => "_blank"%>
	</div> 

	<div class="col-sm-1">
		<%= link_to image_tag("instagram.svg", alt: "Instagram Logo", title: "Instagram", class: "img-responsive", onmouseenter: "change_image_color('instagram-logo')", id: "instagram-logo"), "http://www.instagram.com/sydneyhodge", :target => "_blank"%>
	</div>

	<div class="col-sm-1">
		<%= link_to image_tag("linkedin-logo.svg", alt: "LinkedIn Logo", title: "LinkedIn", class: "img-responsive", onmouseenter: "change_image_color('linkedin-logo')", id: "linkedin-logo"), "https://www.linkedin.com/in/sydney-hodge-38444955", :target => "_blank"%>
	</div>

	<div class="col-sm-1">
		<%= link_to image_tag("soundcloud.svg", alt: "SoundCloud Logo", title: "SoundCloud", class: "img-responsive", id: "soundcloud-logo", onmouseenter: "change_image_color('soundcloud-logo')"), "http://soundcloud.com/sydneyhodge", :target => "_blank"%>
	</div>

	<div class="col-sm-1">
		<%= link_to image_tag("spotify.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive", onmouseenter: "change_image_color('spotify-logo')", id: "spotify-logo"), "https://open.spotify.com/user/1246830624", :target => "_blank"%>
	</div>

	<div class="col-sm-1">
		<%= link_to image_tag("periscope-logo.svg", alt: "Periscope Logo", title: "Periscope", class: "img-responsive", onmouseenter: "change_image_color('periscope-logo')", id: "periscope-logo"), "http://www.periscope.tv/sydhodgepodge", :target => "_blank"%>
	</div>
</div>

<div id="color-images">
	<div class="col-sm-1 col-sm-offset-3">
		<%= image_tag "twitter-logo-color.svg", alt: "Twitter Logo", title: "Twitter", class: "img-responsive logo", id: "twitter-logo-color", onmouseleave: "change_image('twitter-logo')"%>
	</div>

	<div class="col-sm-1">
		<%= image_tag "facebook-logo-color.svg", alt: "Facebook Logo", title: "Facebook", class: "img-responsive logo",  id: "facebook-logo-color", onmouseleave: "change_image('facebook-logo')"%>
	</div>

	<div class="col-sm-1">
		<%= image_tag "instagram-color.svg", alt: "Instagram Logo", title: "Instagram", class: "img-responsive logo", id: "instagram-logo-color", onmouseleave: "change_image('instagram-logo')"%>
	</div>

	<div class="col-sm-1">
		<%= image_tag "linkedin-logo-color.svg", alt: "LinkedIn Logo", title: "LinkedIn", class: "img-responsive logo", id: "linkedin-logo-color", onmouseleave: "change_image('linkedin-logo')"%>
	</div>

	<div class="col-sm-1">
		<%= image_tag "soundcloud-color.svg", alt: "SoundCloud Logo", title: "SoundCloud", class: "img-responsive logo", id: "soundcloud-logo-color", onmouseleave: "change_image('soundcloud-logo')"%>
	</div>

	<div class="col-sm-1" >
		<%= image_tag "spotify-color.svg", alt: "Spotify Logo", title: "Spotify", class: "img-responsive logo", id: "spotify-logo-color", onmouseleave: "change_image('spotify-logo')"%>
	</div>

	<div class="col-sm-1">
		<%= image_tag "periscope-logo-color.svg", alt: "Periscope Logo", title: "Periscope", class: "img-responsive logo", id: "periscope-logo-color", onmouseleave: "change_image('periscope-logo')"%>
	</div>
</div>

<!-- Add the image credits in the footer. -->