<div id="left-content">
	<h1 class="name"> Sydney Hodge </h1>

	<h3 class="menu-item" id="about"> ABOUT </h3>
	<h3 class="menu-item" id="projects"> PROJECTS </h3>
	<h3 class="menu-item" id="music"> MUSIC </h3>
	<h3 class="menu-item" id="contact"> CONTACT </h3>
	<h3 class="menu-item" id="social"> SOCIAL MEDIA </h3>

	<div id="additional-info" class="menu-info">
		<hr class="info-hr">
	</div>

	<div id="left-responses">
		<p class="about-info">
			Turning questions into ideas, and making ideas come to life.
		</p>

		<p class="projects-info">
			Here are some of my latest projects.
		</p>

		<p class="music-info">
			Listening to music is one of my favorite pastimes. Here are some of the artists and songs I've been listening to as of late.
		</p>

		<p class="contact-info">
			Let's work together!
		</p>

		<p class="social-info">
			See what I'm saying on social media.
		</p>
	</div>

	<footer >
		<p class="text-muted"> a Sydney Hodge Project | 2016</p>
	</footer>
</div>

<div id="right-content">
	<div class="content">
	</div>

	<div id="right-responses">
		<div class="about-info">
			<%= render "about" %>
		</div>

		<div class="projects-info">
			<%= render "projects" %>
		</div>

		<div class="music-info">
			<%= render "music" %>
		</div>

		<div class="contact-info">
			<%= render "contact" %>
		</div>

		<div class="social-info">
			<%= render "social" %>
		</div>
	</div>
</div>